* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.banner {
    width: 100%;
    max-width: 100vw; /* Evita que o banner ultrapasse a largura da tela */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 100%;
    height: auto;
    max-height: 115vh; /* Define um limite para a altura da imagem */
    object-fit: contain; /* Ajusta a imagem dentro do contêiner */
    transition: transform 0.4s ease; /* Adiciona a transição para o efeito de hover */
}

.banner img:hover {
    transform: scale(1.04); /* Aplica o efeito de zoom sem sombreamento */
}
